
.container {
	margin-inline: 200px;
}
body {
	margin: 0;
	font-style: italic;
	background-color: #2e2e2e; 
	color: white;
}

li {
	list-style: none;
}
.svg1 {
	border: 30px solid black;	
	fill: none;
}